[user]
	name = Luke Wassink
	email = lwassink@gmail.com
[credential]
	helper = osxkeychain
[color]
	ui = auto
[web]
	browser = chrome
[core]
	editor = vim
[alias]
	unstage = reset Head --
	last = log -1 HEAD
	branchout = checkout -b
	amend = commit --amend
	oneline = log --pretty=oneline
	alias = config --get-regexp alias
	cm = commit -m
	ci = commit
	co = checkout
	br = branch
	st = status
	all = add -A
	pu = push -u origin master
	p = push
