*
.*
!.gitignore
!.gitconfig
!.vim/**
!.vim
!.vimrc
!.bashrc
!.bash_aliases
!.bash_profile
!.profile
!README

# Old list
#
# .DS_Store
# .CFUserTextEncoding
# .DS_Store
# .Trash/
# .Xauthority
# .aspell.en.prepl
# .aspell.en.pws
# .atom/
# .bash_history
# .bash_profile.pysave
# .bash_sessions/
# .bundle/
# .cache/
# .config/
# .cups/
# .dropbox/
# .emacs
# .emacs.d/
# .gem/
# .idlerc/
# .irb-history
# .lesshst
# .local/
# .matplotlib/
# .mkshrc
# .nx/
# .oracle_jre_usage/
# .profile
# .pry_history
# .python_history
# .qt/
# .rnd
# .rvm/
# .sbclrc
# .screenrc
# .shoes/
# .ssh/
# .subversion/
# .text.tex.swp
# .wine/
# .zlogin
# .zshrc
# Applications/
# Audiobooks/
# Desktop/
# Documents/
# Downloads/
# Dropbox/
# Library/
# Movies/
# Music/
# Pictures/
# Public/
# README
# README.bak
# bin/
# developer@
# old/
# programing@
# quicklisp/
# research@
# school@
# tasks/
# test/
# website/
# ..*
# .bash_profile
# .git*
# .rbenv
# .redirected_log
# .sh_history
# developer
# programing
# research
# school
