snippet ins
#include <${1:${VISUAL}}>
endsnippet

snippet inc
#include "${1:${VISUAL}}"
endsnippet

snippet ust
using std::${1:${VISUAL}};
endsnippet

snippet while
while (${1:${VISUAL}})$0
endsnippet

snippet if
if ($1)$0
endsnippet

snippet for
for ($1; $2; $3)$0
endsnippet

