snippet run
if __FILE__ == $PROGRAM_NAME
  $0
end
endsnippet

snippet func
def $1
  $0
end
endsnippet

snippet copyright
#!/usr/bin/ruby
#
# Copyright (C) `date +%Y` Luke Wassink <lwassink@gmail.com>
#
# Distributed under terms of the MIT license.
#
endsnippet
